<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <extension point="org.eclipse.ui.commands">
            <command id="org.eclipse.ui.views.midi.commands.PlayPause" name="Play/Pause">
            	<commandParameter id="org.eclipse.ui.views.midi.commands.PlayPause.view" name="View"/>
            </command>
      </extension>
            <extension point="org.eclipse.ui.handlers">
                <handler class="org.eclipse.ui.views.midi.PlayPauseHandler" commandId="org.eclipse.ui.views.midi.commands.PlayPause">
            </handler>
      </extension>
</plugin>
