<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
    <deleteParticipant class="org.eclipse.ui.views.pdf.refactoring.DeletePdfParticipant" id="org.eclipse.ui.views.pdf.deleteParticipants.File" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFile"/>
        </with>
      </enablement>
    </deleteParticipant>
    <deleteParticipant class="org.eclipse.ui.views.pdf.refactoring.DeletePdfParticipant" id="org.eclipse.ui.views.pdf.deleteParticipants.Folder" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFolder"/>
        </with>
      </enablement>
    </deleteParticipant>
  </extension>
  <extension point="org.eclipse.ltk.core.refactoring.moveParticipants">
    <moveParticipant class="org.eclipse.ui.views.pdf.refactoring.MovePdfParticipant" id="org.eclipse.ui.views.pdf.moveParticipants.File" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFile"/>
        </with>
      </enablement>
    </moveParticipant>
    <moveParticipant class="org.eclipse.ui.views.pdf.refactoring.MovePdfParticipant" id="org.eclipse.ui.views.pdf.moveParticipants.Folder" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFolder"/>
        </with>
      </enablement>
    </moveParticipant>
  </extension>
  <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant class="org.eclipse.ui.views.pdf.refactoring.RenamePdfParticipant" id="org.eclipse.ui.views.pdf.moveParticipants.File" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFile"/>
        </with>
      </enablement>
    </renameParticipant>
    <renameParticipant class="org.eclipse.ui.views.pdf.refactoring.RenamePdfParticipant" id="org.eclipse.ui.views.pdf.moveParticipants.Folder" name="Close Score View">
      <enablement>
        <with variable="element">
          <instanceof value="org.eclipse.core.resources.IFolder"/>
        </with>
      </enablement>
    </renameParticipant>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomIn"
           name="Zoom In">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomOut"
           name="Zoom Out">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomNormal"
           name="Zoom Normal">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomPage"
           name="Fit Page">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomHeight"
           name="Fit Height">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.ZoomWidth"
           name="Fit Width">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.NavigateFirst"
           name="First Page">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.NavigateLast"
           name="Last Page">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.NavigatePrevious"
           name="Previous Page">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.NavigateNext"
           name="Next Page">
     </command>
     <command
           categoryId="org.elysium.ui.commandCategories.LilyPond"
           id="org.eclipse.ui.views.pdf.scroll"
           name="Scroll">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomIn"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1++">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomOut"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+-">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomNormal"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+0">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomHeight"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+ARROW_UP">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomWidth"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+ARROW_RIGHT">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.ZoomPage"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+ARROW_DOWN">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.NavigateFirst"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="HOME">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.NavigateLast"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="END">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.NavigateNext"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="PAGE_DOWN">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.NavigatePrevious"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="PAGE_UP">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.scroll"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="ARROW_DOWN">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.scroll"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="ARROW_UP">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.scroll"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="ARROW_LEFT">
     </key>
     <key
           commandId="org.eclipse.ui.views.pdf.scroll"
           contextId="org.eclipse.ui.views.pdf.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="ARROW_RIGHT">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.ui.views.pdf.PdfViewScrollHandler"
           commandId="org.eclipse.ui.views.pdf.scroll">
        <activeWhen>
           <with
                 variable="activePart">
              <instanceof
                    value="org.eclipse.ui.views.file.FileView">
              </instanceof>
           </with>
        </activeWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           description="Score view is active"
           id="org.eclipse.ui.views.pdf.context"
           name="In Score view"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
</plugin>
